sudo: required

services: docker

language: python

python:
  - "3.5"
  - "3.6"

os:
  - linux

before_install:
  - wget https://github.com/openshift/source-to-image/releases/download/v1.1.11/source-to-image-v1.1.11-78a76d97-linux-amd64.tar.gz -O source2image.tar.gz
  - tar -xvf source2image.tar.gz
  - chmod +x s2i && sudo mv s2i /usr/bin/

install: 
  - pip install -r requirements.txt

script: 
  - python setup.py test
  - make model-builder
  - make model-server
