sudo: required

services: docker

language: python

python:
  - "3.6"

cache: pip

os:
  - linux

dist: xenial

jobs:
  include:
  - stage: test
    name: "setup.py testall"
    install:
      - pip install -r requirements.txt
    script:
      - make coverage
  - name: "make images"
    install: skip
    script:
      - make images
  - name: "make docs"
    install:
      - pip install -r requirements.txt
    script:
      - make docs

deploy:
  - provider: script
    script: make images push-prod-images
    on:
      branch: master
  - provider: script
    script: make images push-prod-images
    on:
      tags: true
