apscheduler~=3.6
Click~=7.0
cachetools~=3.1
h5py~=2.8
influxdb~=5.2
jinja2~=2.10
joblib~=0.13
Keras~=2.2
numpy~=1.15
pandas~=0.24
numexpr>=2.6.1
pip-tools~=3.1
protobuf~=3.7
python-dateutil~=2.7
pyyaml>=4.2b1
requests~=2.20
scikit-learn~=0.20
tensorflow~=1.12
Flask~=1.0
flask-restplus~=0.12
azure-datalake-store~=0.0
sphinx-rtd-theme~=0.4
sphinxcontrib-websupport~=1.1
sphinx~=1.8
recommonmark~=0.5.0
sphinx-click~=2.0
coverage~=4.5
kubernetes~=8.0
cchardet~=2.1
aiohttp~=3.5
aiodns~=2.0
urllib3>=1.24.2,<2.0
simplejson~=3.16
