dictdiffer~=0.8
dataclasses-json~=0.3
gunicorn~=20.0
h5py~=3.1
jinja2~=3.1
python-dateutil~=2.8
tensorflow~=2.12.0 ; platform_machine != "arm64"
# tensorflow-macos should be at same version as tensorflow
tensorflow-macos~=2.12.0 ; platform_machine == "arm64"
# tensorflow-metal needs to be updated in line with tensorflow
# Look for version dependencies for tensorflow-metal here https://pypi.org/project/tensorflow-metal/
tensorflow-metal~=0.8.0 ; platform_machine == "arm64"
Flask>=2.2.5,<3.0.0
simplejson~=3.17
catboost~=1.1.1
prometheus_client~=0.7
# Due to azureml-core 1.49.0 depends on packaging<22.0 
packaging>=21.0,<22.0
gordo-client~=6.2
