# Don't forget to add all machine learning related modules into ALLOWED_IMPORT_PATH (gordo/serializer/constants.py)
Click~=7.0
dictdiffer~=0.8
dataclasses-json~=0.3
gunicorn~=20.0
h5py~=2.8
jinja2~=2.11
numpy~=1.18
pandas~=1.0
numexpr~=2.7
python-dateutil~=2.8
pyyaml~=5.3
requests~=2.25
scikit-learn~=0.23
tensorflow~=2.4.3
Flask~=1.0
flask-restplus~=0.12
Werkzeug==0.16.1 # flask-restplus requires Werkzeug, but is incompatible with 1.0.0. When that is fixed this explicit dependency can be dropped
cchardet~=2.1
urllib3>=1.26.5
simplejson~=3.17
catboost~=0.20
typing_extensions~=3.7
prometheus_client~=0.7.1
azure-identity~=1.4.0
PyYAML~=5.4
gordo-dataset==3.0.0
jeepney>=0.6
packaging~=20.7
pydantic>=1.7.4
gordo-client==4.0.0
