-c full_requirements.txt
docker>=4.0,<7.0
pytest~=6.2
pytest-xdist~=2.3
pytest-mock~=3.6
pytest-mypy~=0.9
pytest-timeout~=1.4
pytest-cov~=2.12
pytest-benchmark~=3.4
mock~=4.0
responses~=0.13
# Due to packaging>22.0 in black 23.0, azureml-core~=1.49 requires packaging<22.0
black>=22.0,<23.0
pytest-flakes~=4.0
notebook~=6.4
# Due to jinja2>=3.0 from nbconvert==6.5.3
nbconvert>=6.0,<6.5.0
types-simplejson
types-python-dateutil
types-PyYAML
types-setuptools
types-requests
types-pytz
types-mock
