-c full_requirements.txt
docker>=4.0,<7.0
pytest~=7.2
pytest-xdist~=3.2
pytest-mock~=3.6
pytest-mypy~=0.10
pytest-timeout~=2.1
pytest-cov~=4.0
pytest-benchmark~=4.0
pytest-flakes~=4.0
mock~=5.0
responses~=0.23
# Due to packaging>22.0 in black 23.0, azureml-core~=1.49 requires packaging<22.0
black>=22.0,<23.0
notebook~=6.4
nbconvert~=7.4
types-simplejson
types-python-dateutil
types-PyYAML
types-setuptools
types-requests
types-pytz
types-mock
