name: ReleaseCI

on:
  release:
  push:
    tags:
      - "*"

jobs:
  publish-to-pypi:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [3.7]
    steps:
      - uses: actions/checkout@v1

      - uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
          architecture: 'x64'

      - name: Install deps
        run: |
          pip install --upgrade pip
          pip uninstall -y aws-sam-cli pyyaml # Workaround for fixing an issue with incompatible package versions
          pip install -r requirements/full_requirements.txt

      - name: Build
        run: |
          python setup.py sdist
          python setup.py bdist_wheel

      - name: Publish
        env:
          TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
        run: |
          pip install twine
          twine upload -u statoil-travis --skip-existing dist/*
